<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Supplier Criticality</title>
</head>

<body>
<!-- How the forms layout is made https://getbootstrap.com/docs/5.0/forms/layout/
    This form is connected to two buttons, so actions are mentioned in connection with buttons-->
<div class="container-fluid page">
    <header th:replace="fragments/navbar :: navbarElement"></header>

    <div class="col-6">
        <h1>High Criticality</h1>
    </div>

    <table class="table table-hover">
        <thead class="thead">
        <tr>
            <th hidden>Id</th>
            <th>Name</th>
            <th>Product Category</th>
            <th>Volume</th>
            <th>Supplier Risk Level</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="SupplierCriticalityView : ${supplierCriticalityView}"
                  th:if="${SupplierCriticalityView.criticality.name() eq 'HIGH'}">
        <tr th:block th:each="productCategory  : ${SupplierCriticalityView.productCategoryList}"
            th:if="${SupplierCriticalityView.criticality.name() eq 'HIGH'}">
            <td hidden th:text="${SupplierCriticalityView.supplierId}"></td>
            <td th:text="${SupplierCriticalityView.supplierName}"></td>

            <td th:text="${productCategory.toString()}"></td>

            <td th:text="${SupplierCriticalityView.volume}"></td>
            <td th:text="${SupplierCriticalityView.supplierRiskLevel}"></td>
        </tr>
        </th:block>
        </tbody>
    </table>

    <footer th:replace="fragments/footer :: footerElement"></footer>
</div>
</body>
</html>