<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Supplier Criticality</title>
</head>

<body>
<!-- How the forms layout is made https://getbootstrap.com/docs/5.0/forms/layout/
    This form is connected to two buttons, so actions are mentioned in connection with buttons-->
<div class="container-fluid page">
<header th:replace="fragments/navbar :: navbarElement"></header>

    <div class="col-6">
        <h1>High Criticality</h1>
    </div>

    <table class="table table-hover">
        <thead class="thead">
        <tr>
            <th hidden>Id</th>
            <th>Name</th>
            <th>Product Category</th>
            <th>Volume</th>
            <th>Supplier Risk Level</th>
            <th>Criticality</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="SupplierProductCategoryCriticalityView : ${supplierProductCategoryCriticalityView}" th:if="${SupplierProductCategoryCriticalityView.supplierId eq 10000}">
            <td hidden th:text="${SupplierProductCategoryCriticalityView.supplierId}"></td>
            <td th:text="${SupplierProductCategoryCriticalityView.supplierName}"></td>
            <td th:text="${SupplierProductCategoryCriticalityView.productCategoryId}"></td>
            <td th:text="${SupplierProductCategoryCriticalityView.volume}"></td>
            <td th:text="${SupplierProductCategoryCriticalityView.supplierRiskLevel}"></td>
            <td th:text="${SupplierProductCategoryCriticalityView.criticality}"></td>
        </tr>
        </tbody>
    </table>

<footer th:replace="fragments/footer :: footerElement"></footer>
</div>
</body>
</html>