<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Supplier Registration</title>
</head>
<style>
    button {
        margin-top: 15px;
        margin-bottom: 15px
    }

    h3 {
        padding-left: 25%;
        margin-top: 10px;
        margin-bottom: 10px
    }
</style>
<body>
<!-- How the forms layout is made https://getbootstrap.com/docs/5.0/forms/layout/
    This form is connected to two buttons, so actions are mentioned in connection with buttons-->
<div class="container-fluid page">
    <header th:replace="fragments/navbar :: navbarElement"></header>
    <form action="#" class="row g-2 justify-content-center" method="post">
        <div class="col-6">
            <h1>Supplier Registration</h1>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <span th:text="${alreadyCreated}"></span>
        </div>

        <div class="col-sm-6">
            <label class="form-label">Supplier Name <span style="color: red">*</span></label>
            <input type="text" class="form-control" placeholder="Supplier Name"
                   th:field="*{supplier.supplierName}">
            <span th:if="${#fields.hasErrors('supplier.supplierName')}" th:errors="*{supplier.supplierName}"></span>
        </div>

        <div class="col-12">
            <h3>Product Category <span style="color: red">*</span></h3>
        </div>

        <div class="col-sm-6">
            <select class="form-select" id="productCategoryName" th:field="*{supplier.productCategorySet}" multiple>
                <option th:each="productcategory : ${productCategory}"
                        th:value="${productcategory.productCategoryId}"
                        th:text="${productcategory.getProductCategoryName}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('supplier.productCategorySet')}"
                  th:errors="*{supplier.productCategorySet}"></span>
        </div>

        <div class="col-12">
            <h3>Categorizing</h3>
        </div>

        <div class="row g-2 justify-content-center">
            <div class="col-sm-6">
                <label class="form-label">Corporate Social Responsibility <span style="color: red">*</span></label>
                <select class="form-select" id="corporateSocialResponsibility"
                        th:field="*{criticality.corporateSocialResponsibility}">
                    <option th:each="responsibility: ${T(finalproject.suppliersystem.core.enums.CategoryLevel).values()}"
                            th:value="${responsibility}"
                            th:text="${responsibility}"></option>
                </select>
                <span th:if="${#fields.hasErrors('criticality.corporateSocialResponsibility')}"
                      th:errors="*{criticality.corporateSocialResponsibility}"></span>
            </div>
        </div>

        <div class="row g-2 justify-content-center">
            <div class="col-sm-6">
                <label class="form-label">Issues Concerning Cooperation <span style="color: red">*</span></label>
                <select class="form-select" id="issuesConcerningCooperation" th:name="IssuesConcerningCooperation">
                    <option th:field="*{criticality.issuesConcerningCooperation}" th:value=0>Rarely (0-5 annually)
                    </option>
                    <option th:field="*{criticality.issuesConcerningCooperation}" th:value=6>Sometimes (6-10 annually)
                    </option>
                    <option th:field="*{criticality.issuesConcerningCooperation}" th:value=11>Often (10+ annually)
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('criticality.issuesConcerningCooperation')}"
                      th:errors="*{criticality.issuesConcerningCooperation}"></span>
            </div>
        </div>

        <div class="row g-2 justify-content-center">
            <div class="col-sm-6">
                <label class="form-label">Availability Issues <span style="color: red">*</span></label>
                <select class="form-select" id="availabilityIssues" th:name="AvailabilityIssues">
                    <option th:field="*{criticality.availabilityIssues}" th:value=0>Rarely (0-5 annually)</option>
                    <option th:field="*{criticality.availabilityIssues}" th:value=6>Sometimes (6-10 annually)</option>
                    <option th:field="*{criticality.availabilityIssues}" th:value=11>Often (10+ annually)</option>
                </select>
                <span th:if="${#fields.hasErrors('criticality.availabilityIssues')}"
                      th:errors="*{criticality.availabilityIssues}"></span>
            </div>
        </div>

        <div class="row g-2 justify-content-center">
            <div class="col-sm-6">
                <label class="form-label">Volume <span style="color: red">*</span></label>
                <select class="form-select" id="volume" th:name="Volume">
                    <option th:field="*{criticality.volume}" th:value=0>Low volume supplier: 0 € - 10.000 € annually
                    </option>
                    <option th:field="*{criticality.volume}" th:value=10001>Medium volume supplier: 10.001 – 30.000 €
                        annually
                    </option>
                    <option th:field="*{criticality.volume}" th:value=30001>High volume supplier: 30.000+ € annually
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('criticality.volume')}" th:errors="*{criticality.volume}"></span>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center" style="margin-top: 25px">
            <div>Supplier Risk Level:&nbsp</div>
            <div id="supplierRiskLevel" style="background-color: #AFFF33">LOW</div>
            <div>&nbsp Criticality:&nbsp</div>
            <div id="criticality" style="background-color: #AFFF33">LOW</div>
        </div>

        <div class="col-12">
            <h3>Contact information</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-2">
            <label class="form-label" style="width: 100%;">Business Phone Number</label>
            <input type="tel" class="form-control" id="businessPhoneNumber" name="businessPhoneNumber"
                   th:field="*{contactInformation.businessPhoneNumber}">
            <span th:if="${#fields.hasErrors('contactInformation.businessPhoneNumber')}"
                  th:errors="*{contactInformation.businessPhoneNumber}"></span>
        </div>

        <div class="col-sm-4">
            <label class="form-label">Business Email</label>
            <input type="email" class="form-control" placeholder="Business Email"
                   th:field="*{contactInformation.businessEmail}">
            <span th:if="${#fields.hasErrors('contactInformation.businessEmail')}"
                  th:errors="*{contactInformation.businessEmail}"></span>
        </div>

        <div class="row g-2 justify-content-center">
            <div class="col-sm-6">
                <label class="form-label">Webpage</label>
                <input type="url" class="form-control" placeholder="Webpage"
                       th:field="*{contactInformation.webpage}"
                       oninvalid="this.setCustomValidity('A valid URL shall contain a protocol (http or https) and a hostname. Example: https://example.com')"
                       oninput="setCustomValidity('')">
                <span th:if="${#fields.hasErrors('contactInformation.webpage')}"
                      th:errors="*{contactInformation.webpage}"></span>
            </div>
        </div>

        <div class="col-12">
            <h3>Address</h3>
        </div>

        <div class="col-sm-3">
            <label class="form-label">Street Name</label>
            <input type="text" class="form-control" placeholder="Street Name"
                   th:field="*{address.streetName}">
            <span th:if="${#fields.hasErrors('address.streetName')}"
                  th:errors="*{address.streetName}"></span>
        </div>
        <div class="col-sm-3">
            <label class="form-label">Building Information</label>
            <input type="text" class="form-control" placeholder="Building Information"
                   th:field="*{address.buildingInformation}">
            <span th:if="${#fields.hasErrors('address.buildingInformation')}"
                  th:errors="*{address.buildingInformation}"></span>
        </div>

        <div class="row g-2 justify-content-center">
            <div class="col-sm-3">
                <label class="form-label">Postal Code</label>
                <input type="text" class="form-control" placeholder="Postal Code"
                       th:field="*{address.postalCode}">
                <span th:if="${#fields.hasErrors('address.postalCode')}"
                      th:errors="*{address.postalCode}"></span>
            </div>
            <div class="col-sm-3">
                <label class="form-label">Postal District</label>
                <input type="text" class="form-control" placeholder="Postal District"
                       th:field="*{address.postalDistrict}">
                <span th:if="${#fields.hasErrors('address.postalDistrict')}"
                      th:errors="*{address.postalDistrict}"></span>
            </div>
        </div>

        <div class="row g-2 justify-content-start" style="padding-left: 25%">
            <div class="col-sm-4">
                <label class="form-label">Country</label>
                <select class="form-select" id="countries" th:field="*{address.country}">
                    <option th:each="country : ${countries}"
                            th:value="${country.countryId}"
                            th:text="${country.countryName}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('address.country')}"
                      th:errors="*{address.country}"></span>
            </div>
        </div>

        <div class="col-12">
            <h3>Contact Person</h3>
        </div>

        <div class="col-sm-6">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Contact Person's Name"
                   th:field="*{contactPerson.nameContactPerson}">
            <span th:if="${#fields.hasErrors('contactPerson.nameContactPerson')}"
                  th:errors="*{contactPerson.nameContactPerson}"></span>
        </div>
        <div class="row g-2 justify-content-center">
            <!-- ToDo: input keeps getting on the same line as label, and does not respond to the different workarounds. One example is: https://github.com/jackocnr/intl-tel-input/issues/72 and https://github.com/jackocnr/intl-tel-input/issues/220-->
            <div class="col-sm-6">
                <label class="form-label" style="width: 100%;">Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumberContactPerson" name="phoneNumberContactPerson"
                       th:field="*{contactPerson.phoneNumberContactPerson}">
                <span th:if="${#fields.hasErrors('contactPerson.phoneNumberContactPerson')}"
                      th:errors="*{contactPerson.phoneNumberContactPerson}"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Contact Person's Email"
                   th:field="*{contactPerson.emailContactPerson}">
            <span th:if="${#fields.hasErrors('contactPerson.emailContactPerson')}"
                  th:errors="*{contactPerson.emailContactPerson}"></span>
        </div>

        <!-- buttons leads to different mappings in Controller depending which button the user clicks -->

        <div class="col-12 d-flex justify-content-start" style="padding-left: 25%">
            <button type="submit" onclick=form.action='/registration/supplier_with_extra_contact_person'
                    th:name="supplierButton" th:value="ekstraPerson" class="btn btn-primary">Add extra contact person
            </button>
        </div>

        <div class="col-12 d-flex justify-content-end" style="padding-right: 25%">
            <button type="submit" onclick=form.action='/registration/supplier' th:name="supplierButton"
                    th:value="register" class="btn btn-primary">Register supplier
            </button>
        </div>

    </form>

    <footer th:replace="fragments/footer :: footerElement"></footer>

</div>

</body>

<script>
    // Waits for the HTML and JavaScript to be loaded
    document.addEventListener("DOMContentLoaded", function (event) {
        // For dropdown list of country calling codes
        // https://github.com/jackocnr/intl-tel-input
        // https://www.twilio.com/blog/international-phone-number-input-html-javascript
        const inputBusinessPhoneNumber = document.querySelector("#businessPhoneNumber");

        const inputPhoneNumberContactPerson = document.querySelector("#phoneNumberContactPerson");

        const phoneInputBusinessPhoneNumber = window.intlTelInput(inputBusinessPhoneNumber, ({
            // whether or not to allow the dropdown
            allowDropdown: true,
            // What country is shown first to the user
            initialCountry: 'fi',
            // Enables different features including the method getNumber
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js",
        }));

        const phoneInputPhoneNumberContactPerson = window.intlTelInput(inputPhoneNumberContactPerson, ({
            // whether or not to allow the dropdown
            allowDropdown: true,
            // What country is shown first to the user
            initialCountry: 'fi',
            // Enables different features including the method getNumber
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js"
        }));

        // How to get the international format number and store it in the input field
        // https://intl-tel-input.com/node_modules/intl-tel-input/examples/gen/national-mode.html
        const handleChangeOfBusinessPhoneNumber = function () {
            document.getElementById("businessPhoneNumber").value = phoneInputBusinessPhoneNumber.getNumber();
        };

        // How to get the international format number and store it in the input field
        // https://intl-tel-input.com/node_modules/intl-tel-input/examples/gen/national-mode.html
        const handleChangeOfPhoneNumberContactPerson = function () {
            document.getElementById("phoneNumberContactPerson").value = phoneInputPhoneNumberContactPerson.getNumber();
        };

        // listen to "keyup", but also "change" to update when the user selects a country
        inputBusinessPhoneNumber.addEventListener('change', handleChangeOfBusinessPhoneNumber);
        inputBusinessPhoneNumber.addEventListener('keyup', handleChangeOfBusinessPhoneNumber);

        // listen to "keyup", but also "change" to update when the user selects a country
        inputPhoneNumberContactPerson.addEventListener('change', handleChangeOfPhoneNumberContactPerson);
        inputPhoneNumberContactPerson.addEventListener('keyup', handleChangeOfPhoneNumberContactPerson);
    });


    // https://api.jquery.com/jquery.ajax/
    //asyncron call: this sends data to RestController in order to calculate Criticality and RestController returns the result as JSON (can be HIGH, MEDIUM or LOW)
    function calculateSupplierRiskLevelAndCriticality(volume, corporateSocialResponsibility, issuesConcerningCooperation, availabilityIssues) {

        $.ajax({
            type: 'GET',
            url: "/supplier_risk_level_api",
            data: {
                corporateSocialResponsibility: corporateSocialResponsibility,
                issuesConcerningCooperation: issuesConcerningCooperation,
                availabilityIssues: availabilityIssues
            },
            dataType: "json"
        }).done(function (response, textStatus, jqXHR) {
            console.dir(response)

            if (response === "HIGH")
            {
                $("#supplierRiskLevel").html(response).css('background', '#ff5733');
            }
            else if (response === "MEDIUM")
            {
                $("#supplierRiskLevel").html(response).css('background', 'yellow');
            }
            else
            {
                $("#supplierRiskLevel").html(response).css('background', '#AFFF33');
            }

            $.ajax({
                type: 'GET',
                url: "/criticality_api",
                data: {
                    volume: volume,
                    supplierRiskLevel: response
                },
                dataType: "json"
            }).done(function (responseCriticality, textStatus, jqXHR) {
                console.dir(responseCriticality)

                if (responseCriticality === "HIGH")
                {
                    $("#criticality").html(responseCriticality).css('background', '#ff5733');
                }
                else if (responseCriticality === "MEDIUM")
                {
                    $("#criticality").html(responseCriticality).css('background', 'yellow');
                }
                else
                {
                    $("#criticality").html(responseCriticality).css('background', '#AFFF33');
                }

            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error(jqXHR)
                console.error(errorThrown)
                alert("Request failed: " + textStatus);
            });

        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error(jqXHR)
            console.error(errorThrown)
            alert("Request failed: " + textStatus);
        });
    }

    $("#volume, #corporateSocialResponsibility, #issuesConcerningCooperation, #availabilityIssues").on('change', function () {
        let volume = $("#volume").val();
        let corporateSocialResponsibility = $("#corporateSocialResponsibility").val();
        let issuesConcerningCooperation = $("#issuesConcerningCooperation").val();
        let availabilityIssues = $("#availabilityIssues").val();

        calculateSupplierRiskLevelAndCriticality(volume, corporateSocialResponsibility, issuesConcerningCooperation, availabilityIssues,
            function (data) {
                console.log(data);
            },
            function (data) {
                console.error('error', data);
            }
        );
    });

</script>


</html>