<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Supplier Registration</title>
</head>
<body>
<!-- How the forms layout is made https://getbootstrap.com/docs/5.0/forms/layout/-->
<div class="container-fluid page">
    <header th:replace="fragments/navbar :: navbarElement"></header>
    <form action="#" th:action="@{/registration/supplier}" class="row g-2" method="post">
        <div class="col-12">
            <h1>Supplier Registration</h1>
        </div>

        <div class="col-12">
            <span th:text="${alreadyCreated}"></span>
        </div>

        <div class="col-sm-6">
            <label class="form-label">Supplier Name</label>
            <input type="text" class="form-control" placeholder="Supplier Name"
                   th:field="*{supplier.supplierName}">
            <span th:if="${#fields.hasErrors('supplier.supplierName')}" th:errors="*{supplier.supplierName}"></span>
        </div>

        <div class="col-12">
            <h3>Contact information</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-2">
            <label class="form-label">Business Phone Number</label>
            <input type="tel" class="form-control" id="businessPhoneNumber" name="businessPhoneNumber"
                   th:field="*{contactInformation.businessPhoneNumber}">
            <span th:if="${#fields.hasErrors('contactInformation.businessPhoneNumber')}"
                  th:errors="*{contactInformation.businessPhoneNumber}"></span>
        </div>

        <div class="col-sm-4">
            <label class="form-label">Business Email</label>
            <input type="email" class="form-control" placeholder="Business Email"
                   th:field="*{contactInformation.businessEmail}">
            <span th:if="${#fields.hasErrors('contactInformation.businessEmail')}"
                  th:errors="*{contactInformation.businessEmail}"></span>
        </div>
        <div class="row g-2">
            <div class="col-sm-6">
                <label class="form-label">Webpage</label>
                <input type="url" class="form-control" placeholder="Webpage"
                       th:field="*{contactInformation.webpage}"
                       oninvalid="this.setCustomValidity('A valid URL shall contain a protocol (http or https) and a hostname. Example: https://example.com')"
                       oninput="setCustomValidity('')">
                <span th:if="${#fields.hasErrors('contactInformation.webpage')}"
                      th:errors="*{contactInformation.webpage}"></span>
            </div>
        </div>

        <div class="col-12">
            <h3>Address</h3>
        </div>

        <div class="col-sm-3">
            <label class="form-label">Street Name</label>
            <input type="text" class="form-control" placeholder="Street Name"
                   th:field="*{address.streetName}">
            <span th:if="${#fields.hasErrors('address.streetName')}"
                  th:errors="*{address.streetName}"></span>
        </div>
        <div class="col-md-3">
            <label class="form-label">Building Information</label>
            <input type="text" class="form-control" placeholder="Building Information"
                   th:field="*{address.buildingInformation}">
            <span th:if="${#fields.hasErrors('address.buildingInformation')}"
                  th:errors="*{address.buildingInformation}"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-2">
                <label class="form-label">Postal Code</label>
                <input type="text" class="form-control" placeholder="Postal Code"
                       th:field="*{address.postalCode}">
                <span th:if="${#fields.hasErrors('address.postalCode')}"
                      th:errors="*{address.postalCode}"></span>
            </div>
            <div class="col-sm-3">
                <label class="form-label">Postal District</label>
                <input type="text" class="form-control" placeholder="Postal District"
                       th:field="*{address.postalDistrict}">
                <span th:if="${#fields.hasErrors('address.postalDistrict')}"
                      th:errors="*{address.postalDistrict}"></span>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-sm-3">
                <label class="form-label">Country</label>
                <input type="text" class="form-control" placeholder="Country"
                       th:field="*{country.countryName}">
                <span th:if="${#fields.hasErrors('country.countryName')}"
                      th:errors="*{country.countryName}"></span>
            </div>
        </div>


        <div class="col-12">
            <h3>Contact Person</h3>
        </div>

        <div class="col-sm-6">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Contact Person's Name"
                   th:field="*{contactPerson.nameContactPerson}">
            <span th:if="${#fields.hasErrors('contactPerson.nameContactPerson')}"
                  th:errors="*{contactPerson.nameContactPerson}"></span>
        </div>
        <div class="row g-2">
            <!-- ToDo: input keeps getting on the same line as label, and does not respond to the different workarounds. One example is: https://github.com/jackocnr/intl-tel-input/issues/72 and https://github.com/jackocnr/intl-tel-input/issues/220-->
            <div class="col-xs-12 col-sm-12 col-lg-2">
                <label class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumberContactPerson" name="phoneNumberContactPerson"
                       th:field="*{contactPerson.phoneNumberContactPerson}">
                <span th:if="${#fields.hasErrors('contactPerson.phoneNumberContactPerson')}"
                      th:errors="*{contactPerson.phoneNumberContactPerson}"></span>
            </div>

            <div class="col-sm-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="Contact Person's Email"
                       th:field="*{contactPerson.emailContactPerson}">
                <span th:if="${#fields.hasErrors('contactPerson.emailContactPerson')}"
                      th:errors="*{contactPerson.emailContactPerson}"></span>
            </div>
        </div>

        <div class="col-12">
            <button type="button" class="btn btn-primary">Add extra Contact Person</button>
        </div>

        <div class="col-12">
            <h3>Product Category</h3>
        </div>

        <div class="col-sm-3">
            <select class="form-select" id="productCategoryName" th:field="*{supplier.productCategorySet}" multiple>
                <option th:each="productcategory : ${productCategory}"
                        th:value="${productcategory.productCategoryId}"
                        th:text="${productcategory.getProductCategoryName}">
                </option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

    </form>

    <footer th:replace="fragments/footer :: footerElement"></footer>

</div>
</body>

<script>
    // Waits for the HTML and JavaScript to be loaded
    document.addEventListener("DOMContentLoaded", function (event) {
        // For dropdown list of country calling codes
        // https://github.com/jackocnr/intl-tel-input
        // https://www.twilio.com/blog/international-phone-number-input-html-javascript
        var inputBusinessPhoneNumber = document.querySelector("#businessPhoneNumber");

        var inputPhoneNumberContactPerson = document.querySelector("#phoneNumberContactPerson");

        var phoneInputBusinessPhoneNumber = window.intlTelInput(inputBusinessPhoneNumber, ({
            // whether or not to allow the dropdown
            allowDropdown: true,
            // What country is shown first to the user
            initialCountry: 'fi',
            // Enables different features including the method getNumber
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js",

        }));

        var phoneInputPhoneNumberContactPerson = window.intlTelInput(inputPhoneNumberContactPerson, ({
            // whether or not to allow the dropdown
            allowDropdown: true,
            // What country is shown first to the user
            initialCountry: 'fi',
            // Enables different features including the method getNumber
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js"
        }));

        // How to get the international format number and store it in the input field
        // https://intl-tel-input.com/node_modules/intl-tel-input/examples/gen/national-mode.html
        var handleChangeOfBusinessPhoneNumber = function () {
            document.getElementById("businessPhoneNumber").value = phoneInputBusinessPhoneNumber.getNumber();
        };

        // How to get the international format number and store it in the input field
        // https://intl-tel-input.com/node_modules/intl-tel-input/examples/gen/national-mode.html
        var handleChangeOfPhoneNumberContactPerson = function () {
            document.getElementById("phoneNumberContactPerson").value = phoneInputPhoneNumberContactPerson.getNumber();
        };

        // listen to "keyup", but also "change" to update when the user selects a country
        inputBusinessPhoneNumber.addEventListener('change', handleChangeOfBusinessPhoneNumber);
        inputBusinessPhoneNumber.addEventListener('keyup', handleChangeOfBusinessPhoneNumber);

        // listen to "keyup", but also "change" to update when the user selects a country
        inputPhoneNumberContactPerson.addEventListener('change', handleChangeOfPhoneNumberContactPerson);
        inputPhoneNumberContactPerson.addEventListener('keyup', handleChangeOfPhoneNumberContactPerson);
    });
</script>


</html>