<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
</head>
<body th:fragment="navbarElement">
<!-- Kilde: https://www.youtube.com/watch?v=aiAf5eO5nx8-->

<!-- https://getbootstrap.com/docs/5.0/components/navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarWithDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Registration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/registration/supplier}">Supplier</a>
                    </ul>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkExcel" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Download Reports
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkExcel">
                        <li><a class="dropdown-item" th:href="@{/excelfile/supplier_reports}">Supplier</a>
                    </ul>

                </li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>