<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
  <title>Error page</title>
  <meta charset="utf-8"/>
</head>
<body>

<header th:replace="fragments/navbar :: navbarElement"></header>
<div class="container-fluid page">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1 th:text="${httpStatus}"></h1>
        <div th:text="${errorMessage}"></div>

        <div th:each="ExceptionCause: ${exceptionCause}">
          <span th:text="${ExceptionCause}"></span>
        </div>


      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>